* {
  margin: 10px;
}

body {
  line-height: 1.4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.container {
  padding: 0 1rem;
}

.btn {
  display: inline-block;
  border: 1px solid black;
  color: aliceblue;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 5px;
  color: black;
}
.btn:hover {
  background-color: rgb(9, 240, 9);
}